In [1]:
import sys 
sys.path.append("..")

In [2]:
import os
from data.info import InfoData
import pandas as pd

In [4]:
data = InfoData()
patients_csv_path = os.path.join(data.directory_path, "hosp", "patients.csv")
# print(patient_csv_path)
df_patients = pd.read_csv(patients_csv_path)
display(df_patients)

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod
0,10000032,F,52,2180,2014 - 2016,2180-09-09
1,10000048,F,23,2126,2008 - 2010,NaN
2,10000058,F,33,2168,2020 - 2022,NaN
3,10000068,F,19,2160,2008 - 2010,NaN
4,10000084,M,72,2160,2017 - 2019,2161-02-13
...,...,...,...,...,...,...
364622,19999828,F,46,2147,2017 - 2019,NaN
364623,19999829,F,28,2186,2008 - 2010,NaN
364624,19999840,M,58,2164,2008 - 2010,2164-09-17
364625,19999914,F,49,2158,2017 - 2019,NaN
364626,19999987,F,57,2145,2011 - 2013,NaN